#test2
{
    color:aquamarine;
    text-align: center;
}
.center2
{
    color:blue;
}
body
{
    background-color:#b0c4de;
}
#imgbox
{
    margin-left: 200px;
    display: table-cell;
    vertical-align: middle;
    text-align:center;
}